@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BigBang1112.cz</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BigBang1112cz.styles.css" asp-append-version="true" />
    <partial name="_Favicons" />
</head>
<body>
    <header>
        <a class="brand" href="/">BigBang1112.cz</a>
        <nav>
            <a href="/" class="@(currentPage == "/Index" ? "active" : "")">Home</a>
            <a href="/projects" class="@(currentPage.StartsWith("/Projects") ? "active" : "")">Projects</a>
            <a href="/links" class="@(currentPage.StartsWith("/Links") ? "active" : "")">Links</a>
            <a href="/music" class="@(currentPage.StartsWith("/Music") ? "active" : "")">Music</a>
            <a href="/blog" class="@(currentPage.StartsWith("/Blog") ? "active" : "")">Blog</a>
            <a href="/contact" class="@(currentPage.StartsWith("/Contact") ? "active" : "")">Contact</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        © 2026 Petr Pivoňka
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
